.privacy_policy .page_banner_layout, .terms_services .page_banner_layout {
  height: 64vh;
}
.terms_policyies {
  background-image: url("assets/Privacy_Policy_Bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 70px 0;
}
.terms_lists {
  margin-bottom: 30px;
}
.terms_lists h3 {
  color: #fff;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 25px;
}

.terms_lists p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.margin_bt {
  margin-bottom: 30px !important;
}

.contact_mrg {
  margin-top: 130px;
}

@media only screen and (max-width: 1600px) {
  .terms_lists h3 {
    font-size: 26px;
  }
  .terms_lists p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1400px) {
  .terms_lists h3 {
    font-size: 26px;
  }
  .terms_lists p {
    font-size: 17px;
  }
  .privacy_policy .page_banner_layout, .terms_services .page_banner_layout {
    height: 57vh;
}
}

@media only screen and (max-width: 1400px) {
  .terms_lists h3 {
    font-size: 24px;
  }
  .terms_lists p {
    font-size: 16px;
  }
}

@media(max-width:1200px){
  .privacy_policy .page_banner_layout, .terms_services .page_banner_layout {
    height: 48vh;
}
}

@media only screen and (max-width: 991px) {
  .terms_lists h3 {
    font-size: 22px;
  }
  .contact_mrg {
    margin-top: 70px;
  }
  .privacy_policy .page_banner_layout, .terms_services .page_banner_layout {
    height: 36vh;
}
.terms_lists p {
  font-size: 14px;
}
}

@media only screen and (max-width: 991px) {
  .terms_lists h3 {
    font-size: 20px;
  }
  .contact_mrg {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 567px) {
  .terms_lists p {
    font-size: 14px;
  }
}
